<header class="header">
  <div class="header-content">
    <div class="logo">
      <i class="fas fa-database"></i>
      <span>{{ title }}</span>
    </div>

    <nav class="nav">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/SCENARIOS" routerLinkActive="active">Scenarios</a></li>
        <li><a routerLink="/databse-config" routerLinkActive="active">Configuration</a></li>
      </ul>
    </nav>
  </div>
  <div class="status-indicator">
    <span class="dot"></span> Proxy Active
  </div>
  
</header>
